body {
  margin: 0;
  font-family: 'Nunito',sans-serif; 
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all .2s linear;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
